---
layout: default_cn
title: KBEngine
tab: overview
---

      <div class="masthead">
        <div class="new-blog-post">
          <a href="{{ site.baseurl}}{{ paginator.posts[0].url }}" onclick="_gaq.push(['_trackEvent', 'Masthead Actions', 'New Blog Post', '{{ paginator.posts[0].title }}']);">
            New Blog Post: <strong>{{ paginator.posts[0].title }}</strong>
          </a>
        </div>
        <!-- <p class="introducing">Introducing...</p> -->
        <h1>KBEngine</h1>
        <p class="byline">一款开源的支持多人同时在线实时游戏的服务端引擎，使用简单的约定协议就能够使客户端与服务端进行交互，使用KBEngine插件能够快速与(Unity3D、OGRE、Cocos2d、HTML5,等等)技术结合形成一个完整的客户端。
		服务端底层框架使用c++编写，游戏逻辑层使用Python(支持热更新)，开发者无需重复的实现一些游戏服务端通用的底层技术，将精力真正集中到游戏开发层面上来，快速的打造各种网络游戏。
        </p>
    
        <div class="buttons">
          <a id="download-button" href="http://sourceforge.net/projects/kbengine/files/" class="btn btn-primary btn-large" onclick="_gaq.push(['_trackEvent', 'Masthead Actions', 'download']);">下载</a>
          <a id="install-button" href="{{ site.baseurl }}/cn/docs/" class="btn btn-large" onclick="_gaq.push(['_trackEvent', 'Masthead Actions', 'Install']);">安装文档</a>
          <a id="view-button" href="https://github.com/kbengine/kbengine" class="btn btn-large" onclick="_gaq.push(['_trackEvent', 'Masthead Actions', 'Github Project', 'View project on GitHub']);">源码</a>
          <a id="demo-button" href="{{ site.baseurl }}/cn/demos/" class="btn btn-large" onclick="_gaq.push(['_trackEvent', 'Masthead Actions', 'Demo']);">Demos </a>
        </div>
      
        <ul class="quick-links">
          <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=kbengine&amp;repo=kbengine&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
          </li>
          <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=kbengine&amp;repo=kbengine&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
          </li>
          <li class="text ga-track"><a href="{{ site.baseurl }}/cn/docs/">阅读文档</a></li>
          <li class="text ga-track"><a href="https://github.com/kbengine/kbengine/issues">提交问题</a></li>
          <li class="text ga-track"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NSMU5PADHVMXC">资助</a></li>
          <li>
            <div class="g-plusone" data-size="medium" data-href="http://www.kbengine.org/cn"></div>
          </li>
        </ul>
        
        <div class="section players">
          <div class="player player-craftysaurus" title="visit my website">
            <iframe src="http://www.kbengine.org/assets/img/gravatar-user-min.jpg" allowtransparency="true" frameborder="0" scrolling="0" width="32" height="65"></iframe>
            <div class="shadow"></div>
            <a class="link" href="http://www.kbengine.org/cn" onclick="_gaq.push(['_trackEvent', 'Masthead Actions', 'Created by kbe']);"></a>
          </div>
          <p class="created-by">创建者kbe</p>
        </div>
      </div>
    
      <div class="section features">
        <h1>都有哪些特性?</h1>
        <p class="byline">你会喜欢的</p>
      
        <div class="row">
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_043_group.png">
            <h2>多人同时在线</h2>
            <p>支持大量的玩家同时在线实时游戏的交互。
            	具体承载量需要根据游戏的类型和复杂度以及硬件的性能来决定。
            	你可以使用自带的压力测试工具来进行测试。</p>
          </div>
        
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_342_hdd.png">
            <h2>自动备份</h2>
            <p>支持定时自动备份数据到数据库，同时也提供了API让用户主动调用一次写库功能。
            	实体数据会自动在多个Baseapp之间相互备份，在灾难发生后能够进行有效的恢复工作。</p>
          </div>
        
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_319_sort.png">
            <h2>跨平台</h2>
            <p>Linux支持(x86/x64): Ubuntu, Debain, Centos, Redhat。其他系统目前未做测试。
              支持所有版本的Windows系统，但Windows目前仅用于调试和游戏开发环境。</p>
          </div>
        </div>
      
        <div class="row">
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_208_cart_out.png">
            <h2>完善的客户端SDK</h2>
            <p>客户端开发者所要做的就是接收事件数据，然后渲染。 SDK支持Ogre、Unity3d、Cocos2d、Html5等等。</p>
          </div>
        
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_119_adjust.png">
            <h2>配置简单</h2>
            <p>只需要修改<code>demo/res/server/kbengine.xml</code> 与 <code>kbe/res/server/kbengine_defs.xml</code> 配置文件。</p>
          </div>
        
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_040_stats.png">
            <h2>动态负载平衡</h2>
            <p>为了更有效地利用有限的硬件，动态负载均衡技术在高负载时引擎仍然能够很好的工作。</p>
          </div>
        </div>
      
        <div class="row">
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_374_claw_hammer.png">
            <h2>强大的配套工具</h2>
            <p>在线调试、查看服务端状态、启动与关闭。
            在线升级、策划数据导出、等等。</p>
          </div>
        
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_044_keys.png">
            <h2>快速开发游戏</h2>
            <p>只需要使用Python就可以快速的进行设计游戏。
            底层安全可靠，保证效率。</p>
          </div>
        
          <div class="span4">
            <img class="feature-icon" src="{{ site.baseurl }}/assets/img/glyphicons/glyphicons_118_embed_close.png">
            <h2>完美的代码</h2>
            <p>可读的代码，可读的代码意味着更少的bug，修复更容易和更简单的更新，降低了参与开发者的学习成本。<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=kbengine&amp;repo=kbengine&amp;type=fork&amp;count=false" allowtransparency="true" frameborder="0" scrolling="0" width="55px" height="20px"></iframe>。</p>
          </div>
        </div>
      
        <div class="row">
          <div class="span3">
            <h2>Shell脚本</h2>
            <p>提供了一些系统脚本用于数据备份，定时检查等等</p>
          </div>
        
          <div class="span3">
            <h2>单元测试</h2>
            <p>每个版本都进行了单元测试。</p>
          </div>
        
          <div class="span3">
            <h2>代码开源</h2>
            <p>感谢 <a class="ga-track" href="https://github.com/">GitHub</a>提供优质的开源环境。</p>
          </div>
        
          <div class="span3">
            <h2>图片预览</h2>
            <p>你可能会喜欢。 <a class="ga-track" href="{{ site.baseurl }}/cn/screenshots/">预览</a></p>
          </div>
        </div>
      </div>

      <div class="section">
        <div id="donators" class="donators">
          <h1>谁在捐赠?</h1>
          <p class="byline">感谢他们<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NSMU5PADHVMXC">捐赠</a>了KBEngine:</p>

          <div rel="tooltip" title="kbe" class="donator">
            <a href="https://github.com/kbengine" target="_blank"><img src="http://www.gravatar.com/avatar/5af0807036d99993054c9332a21ff19b.png"></a>
          </div>

          <div rel="tooltip" title="seat" class="donator">
            <a href="http://www.kbengine.org/cn/" target="_blank"><img src="{{ site.baseurl }}/assets/img/gravatar-user-420.png"></a>
          </div>
          </div>
        </div>
        
        <div class="contributors">
          <h1>谁在贡献?</h1>
          <p class="byline">
            你也想在这个名单内? 仅需要
            <iframe class="github-btn fork-btn" src="http://ghbtns.com/github-btn.html?user=kbengine&amp;repo=kbengine&amp;type=fork&amp;count=false&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="30px"></iframe>
            一个请求。
          </p>
          
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<section id="repos1">
					</div>
				</div>
			</div>
			
			<script type="text/template" id="repo1">
					<div class="forks"></div>
			</script>
			
			<script type="text/template" id="fork">
				<a href="<%= html_url %>"><img width="80" src="<%= owner['avatar_url'] %>" /></a>
			</script>
        </div>

        <div class="stargazers_section">
          <h1>他们都在关注:</h1>
          <p class="byline">感谢他们的关注</p>
          
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<section id="repos">
					</div>
				</div>
			</div>
			
			<script type="text/template" id="repo">
					<div class="stargazers"></div>
			</script>

			<script type="text/template" id="stargazer">
				<a href="<%= html_url %>"><img width="80" src="<%= avatar_url %>" /></a>
			</script>
      </div>
    
      <div class="section milestones">
        <h1>项目里程碑</h1>
      </div>
