---
layout: default
tab: docs
---

<div class="container docs">

	<div class="masthead">
		<h1>Documentation</h1>
	</div>

	<div class="row">
		<div class="span3">
			<ul class="nav nav-list well">
				<li{% if page.docsitem == "home" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/">Home</a></li>
				<li{% if page.docsitem == "build" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/build.html">Build</a></li>
				<li{% if page.docsitem == "installation" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/installation.html">Installation</a></li>
				<li{% if page.docsitem == "updating" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/updating.html">Updating</a></li>
				<li{% if page.docsitem == "uninstallation" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/uninstallation.html">Uninstallation</a></li>
				<li{% if page.docsitem == "startup-shutdown" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/startup_shutdown.html">Startup and Shutdown</a></li>
				
				<li class="nav-header">Configuration</li>
				<li{% if page.docsitem == "configuration-kbengine-defs" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/configuration/kbengine_defs.html">kbengine_defs.xml</a></li>
				<li{% if page.docsitem == "configuration-kbengine" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/configuration/kbengine.html">kbengine.xml</a></li>
				
				<li class="nav-header">Commands</li>
				<li{% if page.docsitem == "commands-overview" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/commands/">Overview</a></li>
				<li{% if page.docsitem == "commands-installer" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/commands/installer.html">Installer</a></li>
				<li{% if page.docsitem == "commands-pycluster" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/commands/pycluster.html">Pycluster</a></li>
				<li{% if page.docsitem == "commands-guiconsole" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/commands/guiconsole.html">Guiconsole</a></li>
		
				<li class="nav-header">Concepts</li>
				<li{% if page.docsitem == "concepts-layout" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/concepts/layout.html">Server Layout</a></li>
				<li class="nav-header">Community</li>
				<li{% if page.docsitem == "community-videos" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/community/videos.html">Videos</a></li>

				<li class="divider"></li>
				<li class="nav-header">API Docs</li>
				<li{% if page.docsitem == "api-script-programming" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/apidocs/apiscriptprogramming.html">Script Programming</a></li>
				<li{% if page.docsitem == "api-engine-programming" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/apidocs/apiengineprogramming.html">Engine Programming</a></li>
				
				<li class="divider"></li>
				<li class="nav-header">Documentation</li>
				<li{% if page.docsitem == "documentation-online-debugging" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/onlinedebugging.html">Online debugging</a></li>
				<li{% if page.docsitem == "documentation-alias" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/alias.html">Type the alias</a></li>
				<li{% if page.docsitem == "documentation-customtypes" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/customtypes.html">Custom types</a></li>
				<li{% if page.docsitem == "documentation-def-remoteinterface" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/defremoteinterface.html">Defining the remote method</a></li>
				<li class="divider"></li>
				<li{% if page.docsitem == "documentation-rpgexample1" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RPGExample: Empty Project</a></li>
				<li{% if page.docsitem == "documentation-rpgexample2" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RPGExample: Load Config</a></li>
				<li{% if page.docsitem == "documentation-rpgexample2" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RPGExample: Create World</a></li>
				<li{% if page.docsitem == "documentation-rpgexample3" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RPGExample: Spawn NPC/Monster</a></li>
				<li{% if page.docsitem == "documentation-rpgexample4" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RPGExample: Entity Move</a></li>
				<li{% if page.docsitem == "documentation-rpgexample5" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RPGExample: AI</a></li>
				<li class="divider"></li>
				<li{% if page.docsitem == "documentation-room-game-example1" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RoomGameExample: Empty Project</a></li>
				<li{% if page.docsitem == "documentation-room-game-example2" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RoomGameExample: Game Hall</a></li>
				<li{% if page.docsitem == "documentation-room-game-example3" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RoomGameExample: Create Rooms</a></li>
				<li{% if page.docsitem == "documentation-room-game-example4" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/apiengineprogramming.html">RoomGameExample: Room Game</a></li>
			</ul>
		</div>

		<div class="span9 docs-content">
			{{ content }}
		</div>
	</div>
</div>
