---
layout: default
tab: docs
---

<div class="container docs">

	<div class="masthead">
		<h1>Documentation</h1>
	</div>

	<div class="row">
		<div class="span3">
			<ul class="nav nav-list well">
				<li{% if page.docsitem == "home" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/">Home</a></li>
				<li{% if page.docsitem == "build" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/build.html">Build</a></li>
				<li{% if page.docsitem == "installation" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/installation.html">Installation</a></li>
				<li{% if page.docsitem == "uninstallation" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/uninstallation.html">Uninstallation</a></li>
				<li{% if page.docsitem == "updating" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/updating.html">Updating</a></li>
				<li{% if page.docsitem == "startup-shutdown" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/startup_shutdown.html">Startup and Shutdown</a></li>
				
				<li class="nav-header">Configuration</li>
				<li{% if page.docsitem == "configuration-kbengine-defs" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/configuration/kbengine_defs.html">kbengine_defs.xml</a></li>
				<li{% if page.docsitem == "configuration-kbengine" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/configuration/kbengine.html">kbengine.xml</a></li>
				<li{% if page.docsitem == "configuration-servererrors" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/configuration/server_errors.html">server_errors.xml</a></li>
				<li{% if page.docsitem == "configuration-fixedmercurymessages" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/configuration/fixed_mercury_messages.html">fixed_mercury_messages.xml</a></li>
				<li{% if page.docsitem == "configuration-emailservice" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/configuration/email_service.html">email_service.xml</a></li>
				<li{% if page.docsitem == "configuration-log4cxxproperties" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/configuration/log4cxx_properties.html">Log4cxx Properties</a></li>
				
				<li class="nav-header">Tools</li>
				<li{% if page.docsitem == "tools-overview" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/tools/">Overview</a></li>
				<li{% if page.docsitem == "tools-installer" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/tools/installer.html">Installer</a></li>
				<li{% if page.docsitem == "tools-pycluster" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/tools/pycluster.html">PyCluster</a></li>
				<li{% if page.docsitem == "tools-guiconsole" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/tools/guiconsole.html">GUIConsole</a></li>
		
				<li class="nav-header">Concepts</li>
				<li{% if page.docsitem == "concepts-layout" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/concepts/layout.html">Server Layout</a></li>
				<li{% if page.docsitem == "concepts-directorys" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/concepts/directorys.html">Directory Structure</a></li>

				<li class="divider"></li>
				<li class="nav-header">Script Programming</li>
				<li{% if page.docsitem == "api-docs-programming" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/programming/apidocs.html">Script API Docs</a></li>
				<li{% if page.docsitem == "documentation-alias" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/programming/alias.html">Type the alias</a></li>
				<li{% if page.docsitem == "documentation-customtypes" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/programming/customtypes.html">Custom types</a></li>
				<li{% if page.docsitem == "documentation-entitydef" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/programming/entitydef.html">Defining the Entity</a></li>

				<li class="divider"></li>
				<li class="nav-header">Engine Programming</li>
				<li{% if page.docsitem == "server-engine-programming" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/programming/serverengineprogramming.html">Server-Engine Programming</a></li>
				<li{% if page.docsitem == "sdk-client-programming" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/programming/clientsdkprogramming.html">Client-SDK Programming</a></li>
				
				<li class="divider"></li>
				<li class="nav-header">debugging and profiling</li>
				<li{% if page.docsitem == "documentation-online-debugging" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/onlinedebugging.html">Online debugging</a></li>
				<li{% if page.docsitem == "documentation-stresstest" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/stresstest.html">Stress Test</a></li>
				<li{% if page.docsitem == "documentation-getlogs" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/getlogs.html">Get the runtime logs</a></li>
				
				<li class="divider"></li>
				<li class="nav-header">Documentations</li>
				<li{% if page.docsitem == "documentation-online-linuxosconfig" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/linuxosconfig.html">High-performance Linux configuration</a></li>
				<li{% if page.docsitem == "documentation-online-linuxfirewall" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/linuxfirewall.html">Linux firewall settings</a></li>
				
				<li class="divider"></li>
				<li class="nav-header">Game making tutorials</li>
				<li{% if page.docsitem == "documentation-gameexample1" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/emptyproject.html">Empty Project</a></li>
				<li{% if page.docsitem == "documentation-gameexample2" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/rpggameexample.html">Multiplayer online RPG</a></li>
				<li{% if page.docsitem == "documentation-gameexample3" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/roomgameexample.html">The room games</a></li>
				<li{% if page.docsitem == "documentation-gameexample4" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/documentations/rtsgameexample.html">RTS games</a></li>
			</ul>
		</div>

		<div class="span9 docs-content">
			{{ content }}
		</div>
	</div>
</div>
