---
layout: default_cn
tab: docs
---

<div class="container docs">

	<div class="masthead">
		<h1>文档</h1>
	</div>

	<div class="row">
		<div class="span3">
			<ul class="nav nav-list well">
				<li{% if page.docsitem == "home" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/">首页</a></li>
				<li{% if page.docsitem == "build" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/build.html">建立</a></li>
				<li{% if page.docsitem == "installation" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/installation.html">安装</a></li>
				<li{% if page.docsitem == "uninstallation" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/uninstallation.html">卸载</a></li>
				<li{% if page.docsitem == "updating" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/updating.html">更新</a></li>
				<li{% if page.docsitem == "startup-shutdown" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/startup_shutdown.html">启动与关闭</a></li>
				
				<li class="nav-header">配置</li>
				<li{% if page.docsitem == "configuration-kbengine-defs" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/configuration/kbengine_defs.html">kbengine_defs.xml</a></li>
				<li{% if page.docsitem == "configuration-kbengine" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/configuration/kbengine.html">kbengine.xml</a></li>
				<li{% if page.docsitem == "configuration-servererrors" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/configuration/server_errors.html">server_errors.xml</a></li>
				<li{% if page.docsitem == "configuration-fixedmercurymessages" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/configuration/fixed_mercury_messages.html">fixed_mercury_messages.xml</a></li>
				<li{% if page.docsitem == "configuration-emailservice" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/configuration/email_service.html">email_service.xml</a></li>
				<li{% if page.docsitem == "configuration-log4cxxproperties" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/configuration/log4cxx_properties.html">Log4cxx Properties</a></li>
				
				<li class="nav-header">工具</li>
				<li{% if page.docsitem == "tools-overview" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/tools/">概览</a></li>
				<li{% if page.docsitem == "tools-installer" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/tools/installer.html">Installer(安装助手)</a></li>
				<li{% if page.docsitem == "tools-pycluster" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/tools/pycluster.html">PyCluster(集群控制)</a></li>
				<li{% if page.docsitem == "tools-guiconsole" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/tools/guiconsole.html">GUIConsole(可视化控制台)</a></li>
		
				<li class="nav-header">概念</li>
				<li{% if page.docsitem == "concepts-layout" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/concepts/layout.html">服务端架构</a></li>
				<li{% if page.docsitem == "concepts-directorys" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/concepts/directorys.html">目录结构</a></li>
				
				<li class="divider"></li>
				<li class="nav-header">脚本编程</li>
				<li{% if page.docsitem == "api-docs" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/programming/apidocs.html">脚本API文档</a></li>
				<li{% if page.docsitem == "documentation-alias" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/programming/alias.html">类型别名</a></li>
				<li{% if page.docsitem == "documentation-customtypes" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/programming/customtypes.html">自定义类型</a></li>
				<li{% if page.docsitem == "documentation-entitydef" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/programming/entitydef.html">定义实体</a></li>
				
				<li class="divider"></li>
				<li class="nav-header">引擎编程</li>
				<li{% if page.docsitem == "server-engine-programming" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/programming/serverengineprogramming.html">服务端引擎编程</a></li>
				<li{% if page.docsitem == "sdk-client-programming" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/programming/clientsdkprogramming.html">客户端SDK编程</a></li>
				
				<li class="divider"></li>
				<li class="nav-header">调试</li>
				<li{% if page.docsitem == "documentation-online-debugging" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/onlinedebugging.html">在线调试</a></li>
				<li{% if page.docsitem == "documentation-stresstest" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/stresstest.html">压力测试</a></li>
				<li{% if page.docsitem == "documentation-getlogs" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/getlogs.html">查看运行时日志</a></li>
				
				<li class="divider"></li>
				<li class="nav-header">文档</li>
				<li{% if page.docsitem == "documentation-online-linuxosconfig" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/linuxosconfig.html">高性能Linux配置</a></li>
				<li{% if page.docsitem == "documentation-online-linuxfirewall" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/linuxfirewall.html">Linux防火墙配置</a></li>
		
				<li class="divider"></li>
				<li class="nav-header">游戏制作教程</li>
				<li{% if page.docsitem == "documentation-gameexample1" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/emptyproject.html">空项目</a></li>
				<li{% if page.docsitem == "documentation-gameexample2" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/rpggameexample.html">RPG多人在线</a></li>
				<li{% if page.docsitem == "documentation-gameexample2" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/roomgameexample.html">房间类游戏</a></li>
				<li{% if page.docsitem == "documentation-gameexample4" %} class="active"{% endif %}><a href="{{ site.baseurl }}/cn/docs/documentations/rtsgameexample.html">即时战略类游戏</a></li>
			</ul>
		</div>

		<div class="span9 docs-content">
			{{ content }}
		</div>
	</div>
</div>
